/* arrow button */
.arrow-btn {
  width: 13px;
  height: 9px;
  margin-top: 10px;
  margin-right: 20px;
}
.billTitle {
  color: #4f4f4f;
  font-size: 14px;
  margin: 0px 20px 12px 20px;
}
.billTitleAmount {
  font-weight: 600;
  font-size: 15px;
  color: #4f4f4f;
}
.grand-total {
  margin: 0px 19px 0px 20px;
}
.pay-btn {
  border: none;
  border-radius: 6px;
  background: linear-gradient(137.27deg, #2f88ff 19.41%, #1d68cd 65.49%);
  box-shadow: 0px 4px 4px rgba(14, 53, 191, 0.25);
  color: white;
  font-weight: bold;
  margin-top: 17px;
  height: 40px;
  width: 333px;
}
