/* App Container */
.App {
  width: 964px;
  margin: auto;
}
/* Content Wrapper */
.contentWrapper {
  display: flex;
  gap: 24px;
  margin-top: 44.63px;
}
/* header styling */
.header {
  display: flex;
  gap: 587.49px;
  margin-top: 51.67px;
}
/* shadow for cards */
.shadow-card {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
}
@media screen and (max-width: 980px) {
  .contentWrapper {
    display: block;
    width: 570px;
    margin: auto;
  }
  .shadow-card {
    width: 570px;
  }
  .billing-summary-card {
    margin: auto;
    width: 370px;
  }
  .header {
    width: 570px;
    margin: auto;
    gap: 200px;
  }
}
@media screen and (max-width: 700px) {
  .contentWrapper {
    display: block;
    width: 570px;
    margin-left: 15%;
  }
  .header {
    width: 570px;
    margin-left: 16%;
    gap: 170px;
  }
}
.header > div > a {
  text-decoration: none;
}
/* logo image css */
.logoImage {
  height: 22.769689559936523px;
  width: 108.6039047241211px;
  left: 23.615234375px;
  top: 3.8753662109375px;
  border-radius: 0px;
}
