/* main */
.main {
}
/* App Container */
.App {
  width: 964px;
  margin: auto;
}
/* Content Wrapper */
.contentWrapper {
  margin-top: 44.63px;
}
/* header styling */
.header {
  display: flex;
  gap: 587.49px;
  margin-top: 51.67px;
}
.header > div > span {
  font-family: "Open Sans", sans-serif;
}
.header > div > a {
  text-decoration: none;
  /* color: #2F80ED; */
  font-family: "Open Sans", sans-serif;
}
/* logo image css */
.logoImage {
  height: 22.769689559936523px;
  width: 108.6039047241211px;
  left: 23.615234375px;
  top: 3.8753662109375px;
  border-radius: 0px;
}

